services:
  mongodb:
    image: mongo:latest
    ports:
      - "27019:27017"
    volumes:
      - mongo-database:/data/db
  redis:
    image: redis:latest
    ports:
      - "16379:6379"
    volumes:
      - redis-database:/data/db
  backend:
    build: ./server/.
    image: courso_backend_image
    env_file:
      - ./server/.env
    depends_on:
      - mongodb
      - redis
    ports:
      - "3000:3000"
    volumes:
      - ./server:/app
      - /app/node_modules
  frontend:
    build: ./client/.
    image: course_frontend_image
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - frontend
      - backend
volumes:
  mongo-database:
  redis-database:
  caddy_data:
  caddy_config:
